
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Partner/Views/Shared/_PartnerLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-file-text"></i>
        </div>
        <div class="header-title">
            <h1>Dashboard</h1>
        </div>
    </section>

</div>

